:host {
  display: block;
  padding: 1em;

  > form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    row-gap: .5em;

    > input {
      font-size: 1rem;
      padding: .25em .5em;
    }

    > hr {
      border: 1px solid gray;
    }

    > ul.products {
      grid-column: 1/-1;
      list-style: none;
      border-top: 3px solid gray;
      padding-top: 1em;

      > li {
        padding: 1em;
        border-bottom: 1px solid lightgrey;
      }
    }

    > button.buy {
      grid-column: 1/-1;
    }
  }
}
